*{
    margin: 0;
    padding: 0;
}

.project{
    width: 100%;
    height: 100vh;
    background-color: #6DC5D1;
}

.project .card{
    position: absolute;
    height: 70%;
    width: 24%;
    background-color: aliceblue;
    margin-left: 38%;
    margin-top: 7.5%;
    border: none;
    padding: 0px 40px 0px 40px;
}

.card .title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

.title h3{
    font-weight: 700;
}

.login .password{
    margin-top: 10px;
}

.username label{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.password label{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.flex-nowrap .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: aliceblue;
    border-radius: 0;
    font-family: "Ubuntu", sans-serif;
}
 
.flex-nowrap .input-group-text{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: aliceblue;
    border-color:#ced4da;
    border-radius: 0;
}

.login input::placeholder{
    color: #818589;
}

.login .form-control:enabled {
    background-color: aliceblue;
    box-shadow: none;
    border-color:#ced4da;
}

.login .forgot_passord{
    margin: 10px 0px 10px 0px;
    text-align: end;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
}

.forgot_passord a{
    text-decoration: none;
    color: #818589;
    font-weight: 600;
    opacity: 0.6;
}

.login_button .btn-primary{
    width: 100%;
    border-radius: 10px;
    font-family: "Ubuntu", sans-serif;
    background-image: linear-gradient(to right, #70A1FF , #C177B2);
    border: none;
    margin-bottom: 20px;
}

.login_button .btn-primary:active{
    border: 2px solid black;
    transition: .01s;
}

.Sign_up .sign{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin: 25px 0px 20px 0px;
    font-weight: 800;
    font-size: 15px;
}

.social_media{
    display: flex;
    justify-content: center;
}

.social_media span{
    margin: 2.5px;
    padding: 2.5px;
    width: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.social_media .fb{
    background-color: #1877F2;   
}

.social_media .fb:hover{
    scale: 1.1;  
}

.fb i{
    color: aliceblue;
}

.social_media .X{
    background-color: #14171A;   
}

.social_media .X:hover{
    scale: 1.1;   
}

.X i{
    color: aliceblue;
}

.social_media .Google{
    background-color: #ff6d00;   
}

.social_media .Google:hover{
    scale: 1.1; 
}

.Google i{
    color: aliceblue;
}

.bottom a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.bottom a:hover{
    color:#818589;
    scale: 1.1;
}

.Sign_up .sign_text{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin: 25px 0px 5px 0px;
    font-weight: 800;
    font-size: 15px;
}
